<ng-container *ngIf="fetchedEvent | async">
  <div class="create-event-container">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Step 1 -->
      <mat-step [stepControl]="createEventFormFirst">
        <form [formGroup]="createEventFormFirst" class="printed-form">
          <ng-template matStepLabel>Event Details</ng-template>
          
          <!-- Title Field -->
          <div class="form-group">
            <label for="title">Title*</label>
            <input id="title" type="text" formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': controlsFirst.title.touched && controlsFirst.title.invalid }">
            <div *ngIf="controlsFirst.title.touched && controlsFirst.title.invalid" class="text-danger">
              <small *ngIf="controlsFirst.title.errors?.required">Title is required.</small>
              <small *ngIf="controlsFirst.title.errors?.maxlength">Title must be less than 40 characters.</small>
            </div>
          </div>
    
          <!-- Tagline Field -->
          <div class="form-group">
            <label for="tagline">Tagline</label>
            <input id="tagline" type="text" formControlName="tagline" class="form-control">
            <div *ngIf="controlsFirst.tagline.touched && controlsFirst.tagline.invalid" class="text-danger">
              <small *ngIf="controlsFirst.tagline.errors?.maxlength">Tagline must be less than 140 characters.</small>
            </div>
          </div>
          
          <!-- Description Field -->
          <div class="form-group">
            <label for="description">Description*</label>
            <textarea id="description" formControlName="description" class="form-control"
            [ngClass]="{ 'is-invalid': controlsFirst.description.touched && controlsFirst.description.invalid }"></textarea>
            <div *ngIf="controlsFirst.description.touched && controlsFirst.description.invalid" class="text-danger">
              <small *ngIf="controlsFirst.description.errors?.required">Description is required.</small>
            </div>
          </div>
          
          <!-- category-picker.component.html -->
          <div ngbDropdown #dropdown="ngbDropdown" (openChange)="onDropdownOpenChange($event)" class="form-group category-picker">
            <label for="categories">Categories</label>
            <input type="text"
            id="categories"
            class="form-control"
            ngbDropdownAnchor
            [(ngModel)]="searchTerm"
            [ngModelOptions]="{standalone: true}"
            (focus)="open($event)"
            (click)="preventClose($event)"
            (ngModelChange)="filterCategories()"
            placeholder="Select categories..."
            autocomplete="off">
            
            <div ngbDropdownMenu>
              <button ngbDropdownItem
              *ngFor="let category of filteredCategories"
              (click)="selectCategory(category); $event.stopPropagation()">
              {{ category.name }}
            </button>
          </div>
          
            <div class="selected-categories">
              <div class="badge-container" *ngFor="let category of selectedCategories">
                <span class="badge">
                  {{ category.name }}
                  <span aria-hidden="true" class="close text-danger" (click)="removeCategory(category)">&times;</span>
                </span>
              </div>
            </div>
          </div>
          
          <div class="d-flex justify-content-end">
            <button class="btn btn-link text-success" (click)="onNextStep(stepper, createEventFormFirst)">Next</button>
          </div>
        </form>
      </mat-step>
    
      <!-- Step 2 -->
      <mat-step [stepControl]="createEventFormSecond">
        <form [formGroup]="createEventFormSecond" class="printed-form">
          <ng-template matStepLabel>Date</ng-template>
          
          <!-- Date From Field -->
          <div class="form-group">
            <label for="dateFrom">Date From*</label>
            <input id="dateFrom" type="datetime-local" formControlName="dateFrom" class="form-control"
            [ngClass]="{ 'is-invalid': controlsSecond.dateFrom.touched && controlsSecond.dateFrom.invalid }">
            <div *ngIf="controlsSecond.dateFrom.touched && controlsSecond.dateFrom.invalid" class="text-danger">
              <small *ngIf="controlsSecond.dateFrom.errors?.required">Start date and time are required.</small>
              <small *ngIf="controlsSecond.dateFrom.errors?.invalidDate">Please enter a valid start date and time.</small>
            </div>
          </div>
          
          <!-- Date To Field -->
          <div class="form-group">
            <label for="dateTo">Date To*</label>
            <input id="dateTo" type="datetime-local" formControlName="dateTo" class="form-control"
            [ngClass]="{ 'is-invalid': controlsSecond.dateTo.touched && controlsSecond.dateTo.invalid }">
            <div *ngIf="controlsSecond.dateTo.touched && controlsSecond.dateTo.invalid" class="text-danger">
              <small *ngIf="controlsSecond.dateTo.errors?.required">End date and time are required.</small>
              <small *ngIf="controlsSecond.dateTo.errors?.invalidDate">Please enter a valid end date and time.</small>
            </div>
          </div>
    
          <div *ngIf="createEventFormSecond.hasError('dateRangeInvalid')" class="text-danger">
            <small>The start date must be earlier than the end date.</small>
          </div>
          
          <div class="d-flex justify-content-between pt-4">
            <button class="btn btn-link text-danger" matStepperPrevious>Back</button>
            <button class="btn btn-link text-success" (click)="onNextStep(stepper, createEventFormSecond)">Next</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Step 3 -->
      <mat-step [stepControl]="createEventFormThird">
        <form [formGroup]="createEventFormThird" class="printed-form">
          <ng-template matStepLabel>Location</ng-template>
          
          <div class="taped double-taped">
            <div id="map" style="height: 400px;"></div>
          </div>
          <p *ngIf="!isFetchingAddress && isLocationSelected">Address: <span>{{formattedAddress}}</span></p>
          
          <div *ngIf="controlsThird.location.touched && controlsThird.location.invalid" class="text-danger">
            <small *ngIf="controlsThird.location.errors?.required">Location is required.</small>
          </div>
          
          
          <div class="d-flex justify-content-between pt-4">
            <button class="btn btn-link text-danger" matStepperPrevious>Back</button>
            <button class="btn btn-link text-success" (click)="onNextStep(stepper, createEventFormThird)">Next</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Step 4 -->
      <mat-step>
        <ng-template matStepLabel>Review and Submit</ng-template>
        <app-event-display *ngIf="stepper.selectedIndex === stepper.steps.length - 1" [event]="previewEvent"></app-event-display>
        
        <div class="d-flex justify-content-between pt-4">
          <button class="btn btn-link text-danger" matStepperPrevious>Back</button>
          <button class="btn btn-link text-success" (click)="submitEvent()">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ng-container>
