<div class="d-flex justify-content-between mb-4">
  <h2>Choose one of ours:</h2>
  <button class="stamp-btn stamp-btn-neutral" (click)="openUploadImageModal()">Upload your own</button>
</div>

<div class="d-flex flex-wrap">
  <div *ngFor="let avatar of defaultAvatars" class="avatar-picker-spacing">
    <div class="avatar-container" [ngClass]="{'pickable': !isChosenAvatar(avatar.id)}" (click)="selectedDefaultAvatar(avatar.id)">
      <img [src]="fullAvatarSrc(avatar.path)">
      <span *ngIf="isChosenAvatar(avatar.id)">X</span>
    </div>
  </div>
</div>