<div class="event-content">
  <h2>{{ formattedTitle }}</h2>
  <h3>{{ event.tagLine }}</h3>
  <div class="section categories d-flex justify-content-between">
    <!-- <span>
      Categories:
    </span>  -->
    <div class="selected-categories">
      <div class="badge-container" *ngFor="let category of event.categories">
        <span class="badge">
          {{ category.name }}
        </span>
      </div>
    </div>

    <div class="engaging-users align-self-end">
      <div ngbDropdown class="d-inline-block watchers-dropdown">
        <div ngbDropdownToggle class="dropdown-toggle">
          <span>
            Watchers:
          </span> 
          <p>
            {{ watchers.length }}
          </p>
        </div>
        <div ngbDropdownMenu>
          <div *ngFor="let watcher of watchers" class="dropdown-item">
            <img [src]="userAvatarSrc(watcher)" alt="Avatar" width="30" height="30"> {{ watcher.name }}
          </div>
          <div *ngIf="!watchers.length" class="dropdown-item">Noone is watching, fully incognito.</div>
        </div>
      </div>
      
      <div ngbDropdown class="d-inline-block attendees-dropdown">
        <div ngbDropdownToggle class="dropdown-toggle">
          <span>
            Attendees:
          </span> 
          <p>
            {{ attendees.length }}
          </p>
        </div>
        <div ngbDropdownMenu>
          <div *ngFor="let attendee of attendees" class="dropdown-item">
            <img [src]="userAvatarSrc(attendee)" alt="Avatar" width="30" height="30"> {{ attendee.name }}
          </div>
          <div *ngIf="!attendees.length" class="dropdown-item">Noone is attending... yet!</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="section dates d-flex justify-content-between">
    <div class="from">
      <span>
        From:
      </span> 
      <p>
        {{ formattedDateFrom }}
      </p>
    </div>
    <div class="to">
      <span>
        To:
      </span> 
      <p>
        {{ formattedDateTo }}
      </p>
    </div>
  </div>
  <hr>
  <div class="section description">
    <span>
      Description:
    </span> 
    <br/>
    <p #descriptionText>
      {{ event.description }}
    </p>
  </div>
  <hr>
  <div class="section taped double-taped">
    <div [id]="'preview-map-' + event.id" class="preview-map"></div>
  </div>
  <div class="section address">
    <span>
      Address:
    </span> 
    <p>
      {{ formattedAddress }}
    </p>
  </div>
  <!-- More content as needed -->
</div>