<div class="pagination-container">
  <div class="d-flex justify-content-between align-items-end notification-buttons-container" *ngIf="notificationsService.hasUnreadNotifications || notifications.length">
    <div class="button-container-top" *ngIf="notificationsService.hasUnreadNotifications">
      <button class="stamp-btn stamp-btn-neutral stamp-btn-small" (click)="markAllAsRead()">Mark all as read</button>
    </div>
    <div class="button-container-top" *ngIf="notifications.length">
      <button class="stamp-btn stamp-btn-danger stamp-btn-small" (click)="deleteAll()">Delete all</button>
    </div>
  </div>
  <div class="notifications-container paper-bg">
    <div class="notification pinned single-pinned" [ngClass]="{'unread': notification.read === 0 }" *ngFor="let notification of notifications" [routerLink]="['/events', notification.eventId]">
      <h3>{{ notification.title }}</h3>
      <p>{{ notification.description }}</p>
    </div>
    <ng-container *ngIf="!notifications.length">
      <p class="empty-list">You dont have any notifications.</p>
    </ng-container>
  </div>

  <ngb-pagination 
    *ngIf="notifications.length"
    [collectionSize]="collectionSize" 
    [(page)]="currentPage" 
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    aria-label="Default pagination">
  </ngb-pagination>
</div>
