<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form printed-form">

  <!-- Password Field -->
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input id="oldPassword" type="password" formControlName="oldPassword" class="form-control"
      [ngClass]="{ 'is-invalid': controls.oldPassword.touched && controls.oldPassword.invalid }">
    <div *ngIf="controls.oldPassword.touched && controls.oldPassword.invalid" class="text-danger w-100">
      <small *ngIf="controls.oldPassword.errors?.required">Old password is required.</small>
    </div>
  </div>

  <!-- Password Field -->
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
      [ngClass]="{ 'is-invalid': controls.newPassword.touched && controls.newPassword.invalid }">
    <div *ngIf="controls.newPassword.touched && controls.newPassword.invalid" class="text-danger w-100">
      <small *ngIf="controls.newPassword.errors?.required">New password is required.</small>
    </div>
  </div>

  <!-- Repeat Password Field -->
  <div class="form-group">
    <label for="repeatPassword">Repeat Password</label>
    <input id="repeatPassword" type="password" formControlName="repeatPassword" class="form-control"
      [ngClass]="{ 'is-invalid': controls.repeatPassword.touched && controls.repeatPassword.invalid }">
    <div *ngIf="controls.repeatPassword.touched && controls.repeatPassword.invalid" class="text-danger w-100">
      <small *ngIf="controls.repeatPassword.errors?.required">Repeat password is required.</small>
    </div>
  </div>
  <!-- Passwords Do Not Match Error -->
  <div *ngIf="changePasswordForm.errors?.passwordsNotMatching && (controls.newPassword.touched || controls.repeatPassword.touched)" class="text-danger w-100">
    <small>Passwords do not match.</small>
  </div>

  <div class="form-group d-flex justify-content-end">
    <button type="submit" class="stamp-btn stamp-btn-success">Save</button>
  </div>

</form>