<div class="wrapper d-flex align-items-stretch app">
  <nav id="sidebar" [ngClass]="{'active': isSidebarHidden}">
    <div class="custom-menu">
      <button type="button" class="btn btn-secondary" (click)="toggleSidebar()">Toggle sidebar</button>
    </div>
    <h1>{{ title }}</h1>
    <!-- <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="/"><span class="mr-3"></span> Homepage</a>
      </li>
      <li>
        <a routerLink="/users"><span class="mr-3"></span> Users</a>
      </li>
      <li>
        <a routerLink="/events"><span class="mr-3"></span> Events</a>
      </li>
    </ul> -->
    <div class="list-group">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action">Homepage</a>
      <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action">Users</a>
      <a routerLink="/events" routerLinkActive="active" class="list-group-item list-group-item-action">Events</a>
    </div>
  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>