@import 'bootstrap/scss/bootstrap';

//SIDEBAR
.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 180px;
  max-width: 180px;
  background-color: rgba(0,0,0,0);
  color: #fff;
  transition: all 0.3s;
  position: relative;

  &.active{
  	margin-left: -180px;
  	.custom-menu{
      // margin-right: -50px;
    }
  }
  
  @include media-breakpoint-down(md){
    margin-left: -180px;
    &.active {
        margin-left: 0;
    }
  }

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 110px;
		right: 0;
		margin-right: -113px;
		@include transition(.3s);

    .paperclip-button {
      background-image: url('../assets/images/paperclip.png'); /* Path to your PNG image */
      background-size: cover; /* Adjusts the background image to cover the entire button */
      border: none; /* Removes the border */
      width: 150px; /* Set the width as per your requirement */
      height: 50px; /* Set the height as per your requirement */
      cursor: pointer; /* Changes cursor to pointer when hovering over the button */
      background-color: rgba(0,0,0,0);
      padding-left: 30px;
      font-size: small;
    }
  
    .paperclip-button:focus {
      outline: none; /* Removes the outline when the button is focused */
    }
  
  }

  .navigation-menu {
    display: inline-block;
    position: absolute;
    top: 200px;
    right: 0;
    min-width: 140px;
    border: none;

    a {
      border: none;
      border-top-right-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 10px;
      position: relative;
      z-index: auto!important;
    }

    a::after {
      border-top-right-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 10px;
      content: '';
      position: absolute;
      z-index: -1!important; /* Lower z-index value to place the shadow under the element */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
  }
  
  }
}

#header {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(0,0,0,0);

  .title-container {
    background-image: url('../assets/images/torn-paper-shadow.png');
    background-size: cover;
    width: 600px;
    background-position-y: -30px;
    height: 100px;
    overflow: hidden;
    h1 {
      font-family: 'PunkTypewriter', sans-serif;
      font-size: 75px;
      line-height: 55px;
      margin: 0;
      color: $dark;
    }
  }

  .user-button-container {
    position: absolute;
    right: 10px;
  }

  .dropdown-toggle::after {
    color: #1149a2;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    // transform: translateY(-50%);
  }

  .pokerchip-button {
    background-image: url('../assets/images/pokerchip.png'); /* Path to your PNG image */
    background-size: cover; /* Adjusts the background image to cover the entire button */
    border: none; /* Removes the border */
    width: 90px; /* Set the width as per your requirement */
    height: 90px; /* Set the height as per your requirement */
    border-radius: 50%;
    cursor: pointer; /* Changes cursor to pointer when hovering over the button */
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-size: small;
    box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.5);
    line-height: 17px;
    font-size: 17px;
    font-weight: 700;
    
    &.text {
      padding-top: 7px;
    }

    img {
      width: 64px;
      border-radius: 50%;
      border: 4px solid #1149a2;
    }
  }

}

#content {
  background-color: #fff;
  box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.5);

  // background-image: url('/assets/images/wood-texture-2.jpg'); /* Path to your texture image */
  // background-repeat: repeat; /* This will make the texture repeat */
  // background-size: auto; /* Keep the texture's original size */
  // // background-attachment: fixed; /* Optional: makes the background fixed during scroll */
  // background-position: center; /* Optional: positions the background image */
  // border-radius: 70px;

  // .paper-bg {
  //   background-image: url('/assets/images/paper-stack.jpg'); /* Path to your texture image */
  // }
}
