<app-toasts></app-toasts>
<div class="wrapper d-flex align-items-stretch app">
  <nav id="sidebar" [ngClass]="{'active': isSidebarHidden}">
    <div class="custom-menu">
      <button type="button" class="paperclip-button" (click)="toggleSidebar()">  
        {{ isSidebarHidden ? 'Menu' : 'Close Menu' }}
      </button>
    </div>
    <div class="list-group navigation-menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action">Homepage</a>
      <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action">Users</a>
      <a routerLink="/events" routerLinkActive="active" class="list-group-item list-group-item-action">Events</a>
    </div>
  </nav>

  <div id="body">
      <!-- Header  -->
    <div id="header" class="d-flex align-items-center">
      <div class="d-flex justify-content-center flex-grow-1">
        <div class="title-container d-flex justify-content-center align-items-end">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <div class="user-button-container">
        <button type="button" class="pokerchip-button text" *ngIf="(userStore.isStored | async) === false; else userMenu" (click)="openSignInModal()">Sign<br>in</button>
        <ng-template #userMenu>
          <div ngbDropdown>
            <button class="pokerchip-button" type="button" ngbDropdownToggle>
              <img [src]="avatarSrc">
            </button>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
              <button ngbDropdownItem type="button" [routerLink]="['/profile/data']">Your data</button>
              <button ngbDropdownItem type="button" [routerLink]="['/profile/events']">Your Events</button>
              <button ngbDropdownItem type="button" [routerLink]="['/profile/notifications']">Notifications</button>
              <button ngbDropdownItem type="button" (click)="signOut()">Sign out</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
      <!-- Page Content  -->
    <div id="content" class="pt-7 px-5">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
