<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form printed-form">
  <!-- Email Field -->
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': controls.email.touched && controls.email.invalid }">
    <div *ngIf="controls.email.touched && controls.email.invalid" class="text-danger">
      <small *ngIf="controls.email.errors?.required">Email is required.</small>
      <small *ngIf="controls.email.errors?.email">Email is invalid.</small>
    </div>
  </div>

  <!-- Alias Field -->
  <div class="form-group">
    <label for="name">Alias</label>
    <input id="name" type="text" formControlName="name" class="form-control"
           [ngClass]="{ 'is-invalid': controls.name.touched && controls.name.invalid }">
    <div *ngIf="controls.name.touched && controls.name.invalid" class="text-danger">
      <small *ngIf="controls.name.errors?.required">Alias is required.</small>
      <small *ngIf="controls.name.errors?.maxlength">Alias must be less than 16 characters.</small>
      <small *ngIf="controls.name.errors?.invalidUsername">Alias cannot contain an ampersand (&), equals sign (=), underscore (_), apostrophe ('), dash (-), plus sign (+), comma (,), brackets (&lt;,>), or more than one period (.)</small>
      <!-- Add any other specific validation messages for the alias here -->
    </div>
  </div>

  <!-- Password Field -->
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': controls.password.touched && controls.password.invalid }">
    <div *ngIf="controls.password.touched && controls.password.invalid" class="text-danger">
      <small *ngIf="controls.password.errors?.required">Password is required.</small>
    </div>
  </div>

  <!-- Repeat Password Field -->
  <div class="form-group">
    <label for="repeatPassword">Repeat Password</label>
    <input id="repeatPassword" type="password" formControlName="repeatPassword" class="form-control"
           [ngClass]="{ 'is-invalid': controls.repeatPassword.touched && controls.repeatPassword.invalid }">
    <div *ngIf="controls.repeatPassword.touched && controls.repeatPassword.invalid" class="text-danger">
      <small *ngIf="controls.repeatPassword.errors?.required">Repeat password is required.</small>
    </div>
  </div>

  <!-- Passwords Do Not Match Error -->
  <div *ngIf="registerForm.errors?.passwordsNotMatching && (controls.password.touched || controls.repeatPassword.touched)" class="text-danger">
    <small>Passwords do not match.</small>
  </div>

  <!-- Submit Button -->
  <div class="form-group d-flex justify-content-end">
    <button type="submit" class="stamp-btn stamp-btn-success">Register</button>
  </div>
</form>

