<div class="modal-header">
  <h4 class="modal-title">Preview</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  
  <div class="image-preview d-flex justify-content-center">
    <img [src]="previewImage"/>
  </div>
  
</div>
<div class="modal-footer">
  <button type="button" class="stamp-btn stamp-btn-neutral" (click)="dismiss()">Close</button>
  <button type="button" class="stamp-btn stamp-btn-success" (click)="confirm()">Confirm</button>
</div>