
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-primary: mat.define-palette(mat.$indigo-palette);
$front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-theme: mat.define-light-theme((
  color: (
    primary: $front-primary,
    accent: $front-accent,
    warn: $front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-theme);

/* You can add global styles to this file, and also import other style files */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 9.25),    //4px
  2: ($spacer * .5),     //8px
  3: $spacer,            //16px
  4: ($spacer * 1.5),    //24px
  5: ($spacer * 3),      //48px
  6: ($spacer * 4),      //64px
  7: ($spacer * 5),      //80px
  8: ($spacer * 6.25),   //100px
  9: ($spacer * 7.5),    //120px
  10: ($spacer * 9.375)  //150px
);

/* SCSS HEX */
$hunyadi-yellow: #edae49ff;
$amaranth: #d1495bff;
$caribbean-current: #00798cff;
$lapis-lazuli: #30638eff;
$indigo-dye: #003d5bff;

/* SCSS HSL */
$hunyadi-yellow: hsla(37, 82%, 61%, 1);
$amaranth: hsla(352, 60%, 55%, 1);
$caribbean-current: hsla(188, 100%, 27%, 1);
$lapis-lazuli: hsla(207, 49%, 37%, 1);
$indigo-dye: hsla(200, 100%, 18%, 1);

/* SCSS RGB */
$hunyadi-yellow: rgba(237, 174, 73, 1);
$amaranth: rgba(209, 73, 91, 1);
$caribbean-current: rgba(0, 121, 140, 1);
$lapis-lazuli: rgba(48, 99, 142, 1);
$indigo-dye: rgba(0, 61, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-right: linear-gradient(90deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom: linear-gradient(180deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-left: linear-gradient(270deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-right: linear-gradient(45deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-right: linear-gradient(135deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-left: linear-gradient(225deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-left: linear-gradient(315deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-radial: radial-gradient(#edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-link {
  color: $lapis-lazuli!important;
}

.text-danger {
  color: $amaranth!important;
}

.text-success {
  color: $caribbean-current!important;
}

.show-modal .modal {
  display: contents !important;
}

/* In a .css or .scss file */
@font-face {
  font-family: 'PunkTypewriter';
  src: url('/assets/fonts/PunkTypewriter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernTypewriter';
  src: url('/assets/fonts/ModernTypewriter.ttf') format('truetype');
}

@font-face {
  font-family: 'OldSchool';
  src: url('/assets/fonts/OldSchool.ttf') format('truetype');
}

@font-face {
  font-family: 'Starz';
  src: url('/assets/fonts/Starz2.ttf') format('truetype');
}

@font-face {
  font-family: 'TopSecret';
  src: url('/assets/fonts/TopSecret.ttf') format('truetype');
}

$font-primary: 'ModernTypewriter', Arial, sans-serif;
$font-printed: 'OldSchool', Arial, sans-serif;
$font-stars: 'Starz', Arial, sans-serif;

$aged-ink: #a29485;
$blueish-ink: #3d4473;

@mixin paper-bg {
  background-color: #f5deb3;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 5%, rgba(0, 0, 0, 0.1) 100%);
  // Add a box-shadow to simulate the scuffed look on the edges
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
@mixin paginated-content {
  padding: 20px;
  position: relative;
  z-index: 2;
}

.pagination-container {
  position: relative;

  ngb-pagination {
    position: absolute;
    bottom: -57px;
    left: 20px;
    
  }

  // Custom Pagination Styles
  .pagination {
    // Override default pagination background and text color
    background-color: #f5deb3; // Old paper color
    color: $lapis-lazuli; // Aged ink color

    @include paper-bg;

    // Remove default border radius
    border-radius: 0;

    // Custom border to match the table
    border: none;

    .page-item {
      // Hover state
      &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 224, 0.3); // Light old paper color for hover
      }
      // Active state
      &.active {
        background-color: rgba(255, 255, 224, 0.6); // Slightly darker paper color for active state
        color: $aged-ink;
      }
    }    

    // Pagination inner content
    .page-link {
      // Text color
      color: $dark; // Aged ink color
      background-color: transparent;
      border: none; // Remove individual borders

      &:focus {
        box-shadow: none;
      }
    }

    // Override border radius for first and last page-link
    .page-item:first-child .page-link {
      border-top-left-radius: 0; // Square top left corner
      border-bottom-left-radius: 5px; // Rounded bottom left corner
    }

    .page-item:last-child .page-link {
      border-top-right-radius: 0; // Square top right corner
      border-bottom-right-radius: 5px; // Rounded bottom right corner
    }
  }
}

.create-event-container {
  @include paper-bg;
}

.events-container {
  @include paper-bg;
  @include paginated-content;

  .event-content {
    @include paper-bg;
  }
}

.printed-table-container {
  @include paper-bg;
  @include paginated-content;
  
  .printed-table {
    // Use a base color to simulate the yellowish paper
  
    // Add a linear gradient to simulate the uneven color of old paper
    border-collapse: collapse;
    width: 100%;
  
    color: $indigo-dye;

    
    th, td {
      border: 1px solid $aged-ink; // A color that looks like aged ink
      padding: 10px;
      text-align: left;
      
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      // You can also add a text-shadow to simulate the ink bleed effect
      // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    th {
      border-top: 2px solid $aged-ink;
      // border-bottom: 2px solid $aged-ink;
    }
    // Use nth-child to simulate the alternating row styles if necessary
    // tr:nth-child(odd) {
    //   background-color: rgba(255, 255, 224, 0.3);
    // }
  }

}


.printed {
  font-family: $font-printed;
  color: $dark!important;

  th{
    &.sortable {
      cursor: pointer;
      span {
        display: inline-block;
        transition: .3s all ease;
        &.rotate-desc {
          transform: rotate(90deg);
        }
        &.rotate-asc {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

body {
  background-image: url('./assets/images/wood-texture.jpg'); /* Path to your texture image */
  background-repeat: repeat; /* This will make the texture repeat */
  background-size: auto; /* Keep the texture's original size */
  background-attachment: fixed; /* Optional: makes the background fixed during scroll */
  background-position: center; /* Optional: positions the background image */

	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	color: $indigo-dye;
}

.avatar-picker-spacing {
  margin-right: 40px;
  margin-top: 50px;
}

.avatar-container {
  position: relative;

  &.pickable {
    cursor: pointer;
  }

  &__big {
    width: fit-content;
    img {
      width: 200px;
      height: 200px;

      box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
    }
  }

  img {
    width: 150px;
    height: 150px;

    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('./assets/images/tape-piece-transparent.png');
    background-size: cover;
    width: 50px;
    height: 100px;
    z-index: 1;
  }

  span {
    font-family: $font-stars;
    color: green;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    line-height: 50px;
  }
}

.taped {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  &.single-taped {
    &::after {
      content: "";
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('./assets/images/tape-piece-transparent.png');
      background-size: cover;
      width: 50px;
      height: 100px;
      z-index: 999;
    }
  }
  &.double-taped {
    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 20%;
      transform: translateX(-50%);
      background-image: url('./assets/images/tape-piece-transparent.png');
      background-size: cover;
      width: 50px;
      height: 100px;
      z-index: 999;
    }
    &::after {
      content: "";
      position: absolute;
      top: -50px;
      left: 80%;
      transform: translateX(-50%);
      background-image: url('./assets/images/tape-piece-transparent.png');
      background-size: cover;
      width: 50px;
      height: 100px;
      z-index: 999;
    }
  }
}

.nav-tabs {
  border: none!important;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border: none!important;
    float: left;
    margin: 0 .5em 0 0;

    button {
      border: none!important;
      position: relative;
      background-color: #c79f6c;
      background-image: linear-gradient(to bottom, #c79f6c, #a38661);
      padding: 5px 15px;
      float: left;
      text-decoration: none;
      color: #444;
      // text-shadow: 0 1px 0 rgba(255,255,255,.8);
      border-radius: 5px 0 0 0;
      box-shadow: 0 2px 2px rgba(0,0,0,.4);

      &:hover, &:hover::after, &:focus, &:focus::after {
        background-color: #c79f6c;
      }

      &:focus {
        outline: 0;
      }
      
      &::after {
        content:'';
        position:absolute;
        z-index: 1;
        top: 0;
        right: -.5em;
        bottom: 0;
        width: 1em;
        background: #c79f6c;
        background-image: linear-gradient(to bottom, #c79f6c, #a38661);
        box-shadow: 2px 2px 2px rgba(0,0,0,.4);
        transform: skew(10deg);
        border-radius: 0 5px 0 0;
      }

      &.active, &.active::after {
        background-color: #c79f6c!important;
        background-image: none;
        z-index: 3;
      }
    }
  }
}

.tab-content {
  background: #c79f6c;
  padding: 2em;
  min-height: 220px;
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

.tab-pane {
  @include paper-bg;
  padding: 20px;
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}

#body {
  width: 100%;
  padding: 0;
  min-height: 100vh;
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn{
	&.btn-primary{
		background: $primary;
		border-color: $primary;
		&:hover, &:focus{
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.printed-form {
  width: 100%;

  &.form-review {
    display: flex;
    flex-direction: row;
    align-items: start; /* Align items at the start of the container */
    gap: 20px; /* Space between the map and the form */

    @media (max-width: 768px) { /* Adjust the breakpoint as needed */
      flex-direction: column;
    }

    .map-section {
      flex: 1; /* Take up equal space as the form */
      /* Set a specific height or leave it to adjust based on content */
      height: 400px; /* Example height */
      /* Add additional styling for your map container */
    }
    
    .form-section {
      flex: 1; /* Take up equal space as the map section */
      /* Add additional styling for your form if needed */
    }
  }

  .form-group {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 20px;
  
    label {
      // flex: 0 0 auto; // Don't grow, don't shrink, and be automatically sized
      margin-right: 1rem; // Adjust as needed
      white-space: nowrap; // Prevents the label from breaking into multiple lines
  
      font-family: $font-printed;
      color: $dark;
      font-weight: bold;
      line-height: 1;
    }
  
    .form-control {
      flex-grow: 1; // Allows the input field to take up the remaining space
      flex-basis: 50%; // Minimum initial width for input
 
      background-color: transparent; // Removes the default background
      border: none; // Removes the default border
      border-bottom: 1px dashed rgba(0, 0, 0, .7);

      // background-image: linear-gradient(to right, rgba(0,0,0,0.6) 80%, transparent 20%);
      // background-size: 8px 2px; // Adjust the size to control the dash thickness and spacing
      // background-repeat: repeat-x;
      // background-position: bottom;
      // border-bottom: none; // Remove the border as the background simulates the line
  
      border-radius: 0;
      padding: 0 0 4px 15px;
      line-height: 21px;
      height: 20px;

      color: $indigo-dye;

      /* Target autofilled input fields */
      &:-webkit-autofill {
        /* Apply your custom styles here */
        background-color: transparent!important; // Removes the default background
        background-image: linear-gradient(to right, rgba(0,0,0,0.6) 80%, transparent 20%)!important;
        color: $indigo-dye!important;
      }

      &:-webkit-autofill {
        -webkit-background-clip: text !important;
        border-bottom: 1px dashed rgba(0, 0, 0, .7);
        -webkit-text-fill-color: $indigo-dye;
      }
      
      &:-webkit-autofill:focus {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: $indigo-dye;
      } 

      &:focus {
          outline: none; // Removes the default focus outline
          box-shadow: none;
      }

      &[readonly] {
        color: $gray-900;
      }

      &::placeholder {
        color: $indigo-dye;
        opacity: 1; /* Firefox */
      }
      
      &::-ms-input-placeholder { /* Edge 12 -18 */
        color: $indigo-dye;
      }
    }

    .text-danger {
      width: 100%;
      order: 3;

      flex-basis: 100%; // Take full width

    }
  }

  .form-buttons {
    margin-top: 50px;
  }

}

// .form-control {
// 	height: 40px!important;
// 	background: $white;
// 	color: $black;
// 	font-size: 13px;
// 	border-radius: 4px;
// 	box-shadow: none !important;
// 	border: transparent;
// 	&:focus, &:active {
// 		border-color: $black;
// 	}
// 	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
// 	  color: rgba(255,255,255,.5);
// 	}
// 	&::-moz-placeholder { /* Firefox 19+ */
// 	  color: rgba(255,255,255,.5);
// 	}
// 	&:-ms-input-placeholder { /* IE 10+ */
// 	  color: rgba(255,255,255,.5);
// 	}
// 	&:-moz-placeholder { /* Firefox 18- */
// 	  color: rgba(255,255,255,.5);
// 	}
// }


.mat-horizontal-content-container {
  padding-top: 50px!important;
}

.mat-stepper-horizontal {
  background: none!important;
}

.folder {
  position: relative;
  perspective: 2500px;
  margin-bottom: 20px;
  margin-top: 35px;

  // min-height: 220px;
  border-radius: 5px 5px 5px 5px;
  // box-shadow: 0px -7px 3px -4px rgba(0, 0, 0, 0.5);

  display: inline-block;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  &.open {
    min-height: 370px;
  }

  .back {
    height: 160px;
    border-radius: 5px 0 5px 5px;
    position: relative;
    margin: 0 auto;
    background: #c79f6c;
    padding: 20px;
    box-shadow: 0px -2px 3px -1px rgba(0, 0, 0, 0.4);
    // overflow: hidden;

    button {
      position: absolute;
      top: -35px;
      right: 0;
      z-index: 2;
    }

    .event-content {
      overflow: hidden;
      box-shadow: none;

      padding: 20px;

      h2 {
        font-family: 'TopSecret', sans-serif;
        color: darkred;
        text-align: center
      }

      .tagline {
        text-align: center;
      }

      .tagline, .address {
        color: $dark;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
      }

      .description {
        font-size: 14px;
        font-weight: normal;
      }

      .taped {
        margin-top: 50px;
      }
    }

    &.show-content {
      z-index: 6;
      overflow: visible; 

      .event-content {
        overflow-y: auto;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      }
    }

    &.enable-close {
      &::after, &::before {
        background-image: linear-gradient(to bottom, #c79f6c, #c79f6c);
      }
    }

    &::after, &::before {
      content:'';
      position:absolute;
      height: 30px;
      background: #c79f6c;
      top: -30px;
      background-image: linear-gradient(to bottom, #c79f6c, #a38661);
    }

    &::after {
      width: 60px;
      border-radius: 0 5px 0 0;
      box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
      right: 0;
    }
    &::before {
      right: 55px;
      width: 10px;
      transform: skew(-10deg);
      border-radius: 5px 0 0 0;
      box-shadow: -3px -1px 3px -2px rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  .cover, .under-cover {
    height: 160px;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0 auto;

    background: #c79f6c;

    transform-origin: 0 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;    
    backface-visibility: hidden; 

    .event-preview {
      padding: 20px;

      h2 {
        font-family: 'TopSecret', sans-serif;
        color: darkred;
      }

      p {
        color: $dark;
        font-size: 18px;
        font-weight: bold;
      }
    }

    button {
      position: absolute;
      top: -35px;
      z-index: inherit;
    }

    &::after, &::before {
      content:'';
      position:absolute;
      height: 30px;
      background: #c79f6c;
      top: -30px;
    }

    &::after {
      width: 60px;
      border-radius: 5px 0 0 0;
      box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.4);
      left: 0;
    }
    &::before {
      left: 55px;
      width: 10px;
      transform: skew(10deg);
      border-radius: 0 5px 0 0;
      box-shadow: 3px -1px 3px -2px rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  .under-cover {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;    
    backface-visibility: visible; 
    box-shadow: 0px -2px 3px -1px rgba(0, 0, 0, 0.4);
  }
}
