/* You can add global styles to this file, and also import other style files */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 9.25),    //4px
  2: ($spacer * .5),     //8px
  3: $spacer,            //16px
  4: ($spacer * 1.5),    //24px
  5: ($spacer * 3),      //48px
  6: ($spacer * 4),      //64px
  7: ($spacer * 5),      //80px
  8: ($spacer * 6.25),   //100px
  9: ($spacer * 7.5),    //120px
  10: ($spacer * 9.375)  //150px
);
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.show-modal .modal {
  display: contents !important;
}

/* In a .css or .scss file */
@font-face {
  font-family: 'PunkTypewriter';
  src: url('/assets/fonts/PunkTypewriter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernTypewriter';
  src: url('/assets/fonts/ModernTypewriter.ttf') format('truetype');
}

@font-face {
  font-family: 'OldSchool';
  src: url('/assets/fonts/OldSchool.ttf') format('truetype');
}

@font-face {
  font-family: 'Starz';
  src: url('/assets/fonts/Starz2.ttf') format('truetype');
}

$font-primary: 'ModernTypewriter', Arial, sans-serif;
$font-printed: 'OldSchool', Arial, sans-serif;
$font-stars: 'Starz', Arial, sans-serif;

.printed {
  font-family: $font-printed;
  color: $dark;
}

body {
  background-image: url('./assets/images/wood-texture.jpg'); /* Path to your texture image */
  background-repeat: repeat; /* This will make the texture repeat */
  background-size: auto; /* Keep the texture's original size */
  background-attachment: fixed; /* Optional: makes the background fixed during scroll */
  background-position: center; /* Optional: positions the background image */

	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	color: lighten($black,50%);
}

.avatar-picker-spacing {
  margin-right: 40px;
  margin-top: 50px;
}

.avatar-container {
  position: relative;

  &.pickable {
    cursor: pointer;
  }

  img {
    width: 150px;
    height: 150px;

    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50px;
    background-image: url(./assets/images/tape-piece.png);
    background-size: cover;
    width: 50px;
    height: 100px;
    z-index: 1;
  }

  span {
    font-family: $font-stars;
    color: green;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    line-height: 50px;
  }
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
// button {
// 	transition: .3s all ease;
// 	&:hover, &:focus {
// 		text-decoration: none !important;
// 		outline: none !important;
// 		box-shadow: none !important;
// 	}
// }
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}





a[data-toggle="collapse"] {
    position: relative;
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}

#body {
  width: 100%;
  padding: 0;
  min-height: 100vh;
}



#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn{
	&.btn-primary{
		background: $primary;
		border-color: $primary;
		&:hover, &:focus{
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.footer{
	p{
		color: rgba(255,255,255,.5);
	}
}



.form-control {
	height: 40px!important;
	background: $white;
	color: $black;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: none !important;
	border: transparent;
	&:focus, &:active {
		border-color: $black;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(255,255,255,.5);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(255,255,255,.5);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(255,255,255,.5);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(255,255,255,.5);
	}
}


.subscribe-form{
	.form-control{
		background: lighten($primary,5%);
	}
}