<div ngbDropdown #dropdown="ngbDropdown" (openChange)="onDropdownOpenChange($event)" class="form-group user-picker">
  <label for="user">Creator</label>
  <div class="selected-user" *ngIf="selectedUser">
    <img [src]="userAvatarSrc(selectedUser)" alt="Avatar" width="20" height="20"> {{selectedUser.name}} <span aria-hidden="true" class="close text-danger" (click)="removeUser()">&times;</span>
  </div>
  <input type="text"
  id="user"
  class="form-control"
  ngbDropdownAnchor
  [(ngModel)]="searchTerm"
  [ngModelOptions]="{standalone: true}"
  (focus)="open($event)"
  (click)="preventClose($event)"
  (keyup)="onSearchChange()"
  placeholder="Select creator..."
  autocomplete="off">
  
  <div ngbDropdownMenu>
    <button ngbDropdownItem type="button"
      *ngFor="let user of users"
      (click)="selectUser(user); $event.stopPropagation()">
      <img [src]="userAvatarSrc(user)" alt="Avatar" width="30" height="30"> {{ user.name }}
    </button>
    <div *ngIf="!users.length" class="dropdown-item">No users found.</div>
  </div>

</div>