<div class="folder" [ngClass]="{'open': closeButtonStyle === 'front'}">
  <div class="back" [ngClass]="{'open': folderState === 'open', 'closed': folderState === 'closed', 'show-content': overflowStyle === 'visible', 'enable-close': closeButtonStyle === 'front'}">
    <button class="btn btn-link text-warning" (click)="toggleFolder()">Close</button>
    <div class="event-content" [@contentHeight]="folderState">
      <p>{{ event.description }}</p>
      <p>{{ event.address }}</p>
      <!-- More content as needed -->
    </div>
  </div>
  <div class="under-cover" [@folderState]="folderState"></div>
  <div class="cover" [@folderState]="folderState">
    <button class="btn btn-link text-warning" (click)="toggleFolder()">Open</button>
    <h2>{{ event.title }}</h2>
    <p>{{ event.tagLine }}</p>
  </div>
</div>
