<div class="folder" [ngClass]="{'open': closeButtonStyle === 'front'}">
  <div class="back" [ngClass]="{'open': folderState === 'open', 'closed': folderState === 'closed', 'show-content': overflowStyle === 'visible', 'enable-close': closeButtonStyle === 'front'}">
    <button class="btn btn-link text-warning close-button" (click)="toggleFolder()" [disabled]="folderState === 'closed'">Close</button>
    <div class="event-preview" [@contentHeight]="folderState">
      <app-event-display [event]="event"></app-event-display>
      <div class="d-flex justify-content-end">
        <button class="btn btn-link" [routerLink]="['/events', event.id]">View</button>
      </div>
    </div>
  </div>
  <div class="under-cover" [@folderState]="folderState"></div>
  <div class="cover" [@folderState]="folderState">
    <button class="btn btn-link text-warning" (click)="toggleFolder()" [disabled]="folderState === 'open'">Open</button>
    <div class="event-preview">
      <h2>{{ formattedTitle }}</h2>
      <h3>{{ event.tagLine }}</h3>
    </div>
  </div>
</div>
