body {
  background-image: url('../assets/images/wood-texture.jpg'); /* Path to your texture image */
  background-repeat: repeat; /* This will make the texture repeat */
  background-size: auto; /* Keep the texture's original size */
  // background-attachment: fixed; /* Optional: makes the background fixed during scroll */
  background-position: top; /* Optional: positions the background image */

	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	color: $indigo-dye;
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

hr {
	border: none;
  height: 2px; /* Adjust based on your graphic */
  background-image: url('../assets/svg/scuffed-line.svg'); /* Update with the correct path */
  background-repeat: repeat-x;
  background-size: 200px 2px; /* Match the SVG's width and desired height */
  width: 90%;

  opacity: 1;
  margin: 1rem auto;
}