.create-event-container, .events-container, .notifications-container, .event-content, .homepage-container {
  @include paper-bg;
}

.events-container, .notifications-container, .homepage-container {
  @include paginated-content;
}

.event-display-container {
  z-index: 2;
  position: relative;
}

.homepage-filters-toggle-container, .events-buttons-container, .view-event-buttons-container {
  margin-top: -40px;
}

.notification-buttons-container {
  margin-top: -30px;
}