.btn-link {
  color: $lapis-lazuli!important;
}

.text-danger {
  color: $amaranth!important;
}

.text-success {
  color: $caribbean-current!important;
}

.mat-horizontal-content-container {
  padding-top: 50px!important;
}

.mat-stepper-horizontal {
  background: none!important;
}