@font-face {
  font-family: 'PunkTypewriter';
  src: url('/assets/fonts/PunkTypewriter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernTypewriter';
  src: url('/assets/fonts/ModernTypewriter.ttf') format('truetype');
}

@font-face {
  font-family: 'OldSchool';
  src: url('/assets/fonts/OldSchool.ttf') format('truetype');
}

@font-face {
  font-family: 'Starz';
  src: url('/assets/fonts/Starz2.ttf') format('truetype');
}

@font-face {
  font-family: 'TopSecret';
  src: url('/assets/fonts/TopSecret.ttf') format('truetype');
}

$font-primary: 'ModernTypewriter', Arial, sans-serif;
$font-printed: 'OldSchool', Arial, sans-serif;
$font-stars: 'Starz', Arial, sans-serif;

.empty-list {
  font-size: 26px;
  color: $aged-ink;
}