/* SCSS HEX */
$hunyadi-yellow: #edae49ff;
$amaranth: #d1495bff;
$caribbean-current: #00798cff;
$lapis-lazuli: #30638eff;
$indigo-dye: #003d5bff;
$dark-blue-ink: #1b283a;
$diamine-green: #1b8e13;
$aged-ink: #a29485;
$blueish-ink: #3d4473;
$paper-bg: #f5deb3;
$notification-bg: #e6abf5;
$folder-bg: #c79f6c;
$folder-shade-bg: #a38661;

// $page-events: #fdb9c9;
$page-home: #ffeedf;
// $page-users: #f6f3b5;
// $page-profile: #bbf6f3;
// $page-misc: #a7e0f4;

/* SCSS HSL */
$hunyadi-yellow: hsla(37, 82%, 61%, 1);
$amaranth: hsla(352, 60%, 55%, 1);
$caribbean-current: hsla(188, 100%, 27%, 1);
$lapis-lazuli: hsla(207, 49%, 37%, 1);
$indigo-dye: hsla(200, 100%, 18%, 1);

/* SCSS RGB */
$hunyadi-yellow: rgba(237, 174, 73, 1);
$amaranth: rgba(209, 73, 91, 1);
$caribbean-current: rgba(0, 121, 140, 1);
$lapis-lazuli: rgba(48, 99, 142, 1);
$indigo-dye: rgba(0, 61, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-right: linear-gradient(90deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom: linear-gradient(180deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-left: linear-gradient(270deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-right: linear-gradient(45deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-right: linear-gradient(135deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-left: linear-gradient(225deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-left: linear-gradient(315deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-radial: radial-gradient(#edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
