<div class="modal-header">
  <h4 class="modal-title">Choose image</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <!-- Image Input -->

  <div class="drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <p>Drop your image here or click the button to upload</p>
    <button class="stamp-btn stamp-btn-neutral" (click)="fileInput.click()">Upload Image</button>
    <input type="file" accept="image/*" #fileInput (change)="onFileChange($event)" hidden>
  </div>
  
  <!-- Optional: Display the uploaded image -->
  <ng-container *ngIf="displayImage">
    <h4>Preview</h4>
    <div class="image-preview d-flex justify-content-center">
      <img [src]="displayImage"/>
    </div>
  </ng-container>
  
  <!-- Cropped Image Preview -->
  <!-- <img [src]="compressedImage" > -->
  
</div>
<div class="modal-footer">
  <button type="button" class="stamp-btn stamp-btn-neutral" (click)="dismiss()">Close</button>
  <button *ngIf="uploadedFile" class="stamp-btn stamp-btn-success" (click)="confirmUpload()">{{ cropAndCompress ? 'Crop image' : 'Confirm'}}</button>
</div>